.background-img {
  margin-top: -16px;
  background-image: url("../../Static/oldwell.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: calc(100vh - 9vh);
  max-height: calc(100vh - 9vh);
  min-width: 100vw;
  max-width: 100vw;
}

.btn-logins-container {
  float: left;
  background-color: #13294b;
  color: white;
  width: 30vw;
  height: 30vh;
  margin-left: 10%;
  margin-top: 10%;
}

.h1-login {
  padding: 15px;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 200%;
}

.router-link {
  height: 100%;
  width: 85%;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.btn-login {
  color: white;
  min-width: 100%;
  min-height: 100%;
  font-size: 125%;
}
