rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null 
      && request.auth.token.admin == true;
    }

    function isRecruiter() {
      return request.auth != null 
      && request.auth.token.recruiter == true;
    }

    function isStudent() {
      return request.auth != null 
      && request.auth.token.student == true;
    }

    match /{document=**} {
      allow read, write: if isAdmin();
    }

    match /recruiters/{uid=**} {
      allow read, write: if isRecruiter()
      && request.auth.uid == uid;
    }

    match /students/{uid=**} {
      allow read, write: if isStudent() 
      && request.auth.uid == uid;
      allow read: if isRecruiter();
    }

    match /Database%20Systems/databaseSystems {
      allow read: if isRecruiter() || isStudent();
    }

    match /Events/eventsList {
      allow read: if isRecruiter() || isStudent();
    }

    match /Frameworks%20and%20Tools/frameworksAndTools {
      allow read: if isRecruiter() || isStudent();
    }

    match /Graduation%20Year/gradYears {
      allow read: if isRecruiter() || isStudent();
    }

    match /Majors/majorsList {
      allow read: if isRecruiter() || isStudent();
    }

    match /Operating%20Systems/operatingSystems {
      allow read: if isRecruiter() || isStudent();
    }

    match /Programming%20Languages/progLanguages {
      allow read: if isRecruiter() || isStudent();
    }

    match /Schools/SchoolsList {
      allow read: if isRecruiter() || isStudent();
    }
  }
}