service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin(request) {
      return request.auth != null 
      && request.auth.token.admin == true;
    }

    function isRecruiter(request) {
      return request.auth != null 
      && request.auth.token.recruiter == true;
    }

    function isStudent(request) {
      return request.auth != null 
      && request.auth.token.student == true;
    }

    match /{allPaths=**} {
      allow read, write: if isAdmin(request);
    }

    match /profilePictures/{uid} {
      allow read, write: if isStudent(request) 
      && request.auth.uid == uid;
      allow read: if isRecruiter(request);
    }

    match /resumePDFs/{uid} {
      allow read, write: if isStudent(request) 
      && request.auth.uid == uid;
      allow read: if isRecruiter(request);
    }
  }
}
