service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null 
      && request.auth.token.admin == true;
    }

    function isRecruiter() {
      return request.auth != null 
      && request.auth.token.recruiter == true;
    }

    function isStudent() {
      return request.auth != null 
      && request.auth.token.student == true;
    }

    match /{allPaths=**} {
      allow read, write: if isAdmin();
    }

    match /profilePictures/{uid=**} {
      allow read, write: if isStudent() 
      && request.auth.uid == uid;
      allow read: if isRecruiter();
    }

    match /resumePDFs/{uid=**} {
      allow read, write: if isStudent() 
      && request.auth.uid == uid;
      allow read: if isRecruiter();
    }
  }
}
