.SideCardBody {
  /*flex: 1 1 auto; */
  min-height: 1px;
  display: flex;
  /*flex-direction: column;*/
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

#SideCardCard {
  width: 320px;
  height: auto;
  background-color: #4b9cd3;
}

.flex-container {
  display: flex;
}

.card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.emailDiv {
  width: inherit;
  display: flex;
  justify-content: center;
  font-family: Droid Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}
