.SignUp {
  font-family: Bree Serif;
  color: #ffffff;
  /*height: 100%;
      min-height: 100%;
      */
  padding-top: 0px;
  margin: 0;
  height: auto;
  width: auto;
  background-color: #13294b;
  position: relative;
  height: 100vh;
  width: auto;
  text-align: center;
}

.SignUpHeaderUNCimage {
  height: 130px;
}

.SignUpPasswordH2 {
  font-size: 40px;
  text-align: center;
  position: relative;
  /*padding-right: 40pc; */
  margin-bottom: 0;
  margin-top: 75px;
}
.SignUpEmailH2 {
  font-size: 40px;
  text-align: center;
  position: relative;
  /*padding-right: 40pc; */
  margin-bottom: 0;
  margin-top: 75px;
}

.SignUpConfirmPasswordH2 {
  font-size: 40px;
  text-align: center;
  position: relative;
  /*padding-right: 40pc; */
  margin-bottom: 0;
  margin-top: 75px;
}

/*h2 {
    font-size: 40px;
    text-align: center;
    position: relative;
    /*padding-right: 40pc; 
    margin-bottom: 0;
    margin-top: 75px;
  } */

.btnSignUp {
  padding-top: 20px;
  background-color: #4b9cd3;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font-size: 40px;
  padding: 0px 20px 0 20px;
  color: white;
  font-family: Bree Serif;
}

#emailText {
  width: 780px;
  height: 40px;
  font-size: 30px;
  border-radius: 24px;
  position: relative;
}

#passwordText {
  width: 780px;
  height: 40px;
  font-size: 30px;
  border-radius: 24px;
  position: relative;
}
#passwordConfirmText {
  width: 780px;
  height: 40px;
  font-size: 30px;
  border-radius: 24px;
  position: relative;
}

.SignUpButtons {
  padding-top: 20px;
}
