.each-list {
  position: relative;
}

.card-name {
  display: inline-flex;
}

.resume-access-list {
  padding: 2%;
  display: inline-flex;
  list-style-type: none;
}

.detailed-modal {
  float: right;
  margin-top: 1%;
  display: inline-flex;
}

.input-box {
  min-width: 30vw;
}
