.each-list {
  position: relative;
}

.admin-card-name {
  display: inline-flex;
  font-weight: bold;
  font-size: larger;
}

.admin-resume-access-list {
  padding: 2%;
  display: inline-flex;
  list-style-type: none;
}

.detailed-modal {
  float: right;
  margin-top: 1%;
  display: inline-flex;
}

.admin-input-box {
  min-width: 50% !important;
  /* width: 50% !important; */
  max-width: 100% !important;
  margin-top: 0px !important;
}

.admin-panel {
  color: white;
  background-color: #4b9cd3;
  height: calc(100vh - 105px);
  overflow-y: auto;
  max-height: fit-content !important;
  /* padding-right: 0px !important; */
  /* padding-left: 0px !important; */
  margin-top: 1%;
  /* margin-right: 4%; */
}

.admin-heading {
  margin-left: 1%;
  padding-left: 1%;
  padding-top: 1%;
}

.admin-card-accordion-toggle {
  padding: 1%;
}
