.myListIcons{
    height: 25px !important;
    width: 25px !important;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
    font-size: 1.5em;
    transition: all .2s ease-in-out;
}
.myListIcons:hover{
    transform: scale(1.1);
}
.myListTitle{
    padding-left: 10px;
    line-height: 40px;
    font-size: 20px;
}
.myListTitleHeader{
    background-color: #e5e5e5;
    height: 40px;
}

.myListsItem{
    height: 40px;
    background-color:#ffffff;
    border-bottom: 1px solid #e5e5e5;
}


.myListsDropDownItemName{
    line-height: 40px;
    font-size: 20px;
    transform: translate(-8px); 
    z-index: 100;

}
.myListsDropDownItemImg{
    width: 36px;
    height: 36px;
    margin: 2px;
    border-radius: 150px;
}