@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.recruiterViewCardDiv{
    background-color: white;
    
    flex-wrap: wrap;
    justify-content: space-start;
  }
  .recruiterViewColumn{
    overflow-y: auto;
    height: calc(100vh - 105px);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding-left: 1vw !important;
    padding-right: 1vw !important;
  }
  .recruiterViewColumn::-webkit-scrollbar {
    display: none;
  }
  .recruiterViewLeftColumn{
    height: calc(100vh - 105px);
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding-right: 1vw !important;
    padding-left: 0px !important;
  }
  .recruiterViewLeftColumn::-webkit-scrollbar {
    display: none;
  }
  .recruiterViewColumn50vw{
    height: calc(100vh - 105px);
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 50vw !important;
    padding-left: 1vw !important;
    padding-right: 1vw !important;
  }
  .recruiterViewColumn50vw::-webkit-scrollbar {
    display: none;
  }
  .recruiterViewColumn65vw{
    height: calc(100vh - 105px);
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 66.5vw !important;
    padding-left: 1vw !important;
    padding-right: 1vw !important;
  }
  .recruiterViewColumn65vw::-webkit-scrollbar {
    display: none;
  }
  .recruiterViewColumn75vw{
    height: calc(100vh - 105px);
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 77.5vw !important;
    padding-left: 1vw !important;
    padding-right: 1vw !important;
  }
  .recruiterViewColumn75vw::-webkit-scrollbar {
    display: none;
  }
  .recruiterViewColumn95vw{
    height: calc(100vh - 105px);
    overflow-y: auto;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 95vw !important;
    padding-left: 1vw !important;
    padding-right: 1vw !important;
  }
  
  
  .recruiterViewHeader{
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    background-color: #4B9CD3;
    color: #FFFFFF;
    margin-bottom: 0;
  }
  
  .BreeSerif{
    font-family: 'Bree Serif';
  
  }

  
  .LogoSmallDiv{
    padding-left: 6vw !important;
    padding-right: 6vw !important;
    width:  100vw !important;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4B9CD3
  }
  .LogoLargeDiv{
    padding-left: 6vw !important;
    padding-right: 6vw !important;
    width:  100vw !important;
  
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #4B9CD3
  }
  .recruiterViewTag{
    background-color: #E5E5E5;
    padding: 3px;
    margin: 3px;
    font-size: 11px;
    width: fit-content;
  }
  .recruiterViewTagContainer{
    padding : 10px;
    max-height: 125px;
    overflow: hidden;
  }
  .recruiterViewIcon{
    transition: all .2s ease-in-out;

    line-height: 40px;
    
    
  }
  .recruiterViewIcon:hover{
    transform: scale(1.1);

  }
  
  .resumeViewDiv{
    width: 90vw;
    height: calc(100vh - 20px -105px );
    height: 900px;
    background-color: #E5E5E5;
  }
  
  .mb-30{
    margin-bottom: 30px;
  }
  .resumeImage{
    overflow-y: auto;
    width: 50vw;
    height: calc(100vh - 145px);
    padding-left: 3vw;
    border: none;
  }
  .resumeViewImageDiv{
    height: calc(100vh - 145px);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: auto;
    
  }
  .resumeViewImageDiv::-webkit-scrollbar {
    display: none;
  }


  .resumeViewDiv{
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .resumeViewHeader{
    background-color: #4B9CD3;
    width: 40vw;
    text-align: center;
    color: white;
  }
  .resumeViewContainer{
    height: calc(100vh - 105px);
    overflow: hidden !important;
  }
  .vw-100{
    width: 100vw !important;
  }
  
  .resumeViewDropDownDiv{
    width: 40vw;
    height: 40px;
    color: #ffffff;
    background-color: #4B9CD3;
    display: flex;
    justify-content: space-between;
  }
  .resumeViewItems{
    width: 40vw;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
  }
  .classInfoDiv{
    width: 40vw;
    height: 40px;
    font-size: 25px;
    background-color: #E5E5E5;
  }
  .resumeViewDropDownText{
    font-size: 25px;
    line-height: 40px;
    padding-left: 5px;
    user-select: none;
  }
  
  .resumeViewDropDownIcon{
    height: 25px !important;
    width: 25px !important;
    margin-right: 5px;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
    font-size: 1.5em;
  }
  .resumeViewNotes{
    width: 40vw;
    height: 200px;
    padding: 5px !important;
    background-color: #FFFFFF;
  
  }
  .resumeViewRightPanel{
    height: calc(100vh - 145px);
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

  }

  .resumeViewRightPanel::-webkit-scrollbar {
    display: none;
  }

  .resumeViewDropDowns{
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */


  }
  .resumeViewDropDowns::-webkit-scrollbar {
    display: none;
  }

  .recruiterViewItems{
    font-size: 25px;
    color: #25282B;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    line-height: 40px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #25282B .25;
    user-select: none;
  
  }
  .filterNameSearchDiv{
    height: 80px;
    
  }
  
  .p-10px{
    padding: 10px;
  }
  .recruiterSpinnerDiv{
    color: #4B9CD3;
    height: calc(100vh - 105px);
    align-items: center;
    overflow: hidden;
    background-color: #13294B;
  }
  .recruiterSpinner{
    height: 100px !important;
    width: 100px !important;
    font-size: 50px;
  }
  .recruiterViewRow{
   margin-right: 0px !important;
    margin-left: 0px !important;

  }
  .recruiterViewAnimatedDiv{
    position: relative !important;
  }