@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.recruiterViewCardDiv{
    background-color: white;
    width : 50vw;
    flex-wrap: wrap;
    justify-content: space-start;
  }
  
  .recruiterViewHeader{
    font-size: 30px;
    text-align: center;
    background-color: #4B9CD3;
    color: #FFFFFF;
    margin-bottom: 0;
  }
  
  .BreeSerif{
    font-family: 'Bree Serif';
  
  }
  .recruiterViewCard{
    border-radius: 15px !important;
    border: 1px solid #e5e5e5;
    height: 260px;
    width: 150px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    transition: 0.3s;
  }
  .recruiterViewCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .recruiterViewCardHeader{
    background-color: #13294B !important;
    line-height: 20px;
    margin: 0;
  
  }
  .recruiterViewCardImg{
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    object-fit: cover;
  
  }
  .recruiterViewCardIcons{

    position: absolute;
    bottom: 0;
    width: 150px;
  }
  
  .recruiterViewCardHeaderText{
    font-size: 15px !important;
    color:  #4B9CD3;
    margin: 0;
    text-align: center;
  }
  .recruiterViewCardHeaderTextDiv{ 
    position: relative;
    top: 15%; 
    text-align: center;
  }
  
  .LogoSmallDiv{
    padding-left: 6vw !important;
    padding-right: 6vw !important;
    width:  100vw !important;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4B9CD3
  }
  .LogoLargeDiv{
    padding-left: 6vw !important;
    padding-right: 6vw !important;
    width:  100vw !important;
  
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #4B9CD3
  }
  .recruiterViewTag{
    background-color: #E5E5E5;
    padding: 3px;
    margin: 3px;
    font-size: 11px;
    width: fit-content;
  }
  .recruiterViewTagContainer{
    padding : 10px;
    max-height: 125px;
    overflow: hidden;
  }
  .recruiterViewIcon{
    transition: all .2s ease-in-out;

    line-height: 40px;
    
    
  }
  .recruiterViewIcon:hover{
    transform: scale(1.1);

  }
  
  .resumeViewDiv{
    width: 80vw;
    height: 900px;
    background-color: #E5E5E5;
  }
  
  .mb-30{
    margin-bottom: 30px;
  }
  .resumeImage{
    width: 50vw;
    height: auto;
    padding-left: 45px;
  }
  .resumeViewDiv{
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .resumeViewHeader{
    background-color: #4B9CD3;
    width: 30vw;
    text-align: center;
    color: white;
  }
  .resumeViewContainer{
    overflow: hidden !important;
  }
  .vw-100{
    width: 100vw !important;
  }
  
  .resumeViewDropDownDiv{
    width: 30vw;
    height: 40px;
    color: #ffffff;
    background-color: #4B9CD3;
    display: flex;
    justify-content: space-between;
  }
  
  .classInfoDiv{
    width: 30vw;
    height: 40px;
    font-size: 25px;
    background-color: #E5E5E5;
  }
  .resumeViewDropDownText{
    font-size: 25px;
    line-height: 40px;
    padding-left: 5px;
    user-select: none;
  }
  
  .resumeViewDropDownIcon{
    height: 25px !important;
    width: 25px !important;
    margin-right: 5px;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
    font-size: 1.5em;
  }
  .resumeViewNotes{
    width: 30vw;
    height: 200px;
    padding: 5px !important;
    background-color: #FFFFFF;
  
  }
  .recruiterViewItems{
    font-size: 25px;
    color: #25282B;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    line-height: 40px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 4px 4px #25282B .25;
    user-select: none;
  
  }
  .filterNameSearchDiv{
    height: 80px;
    
  }
  
  .p-10px{
    padding: 10px;
  }
  .recruiterSpinnerDiv{
    color: #4B9CD3;
    height: calc(100vh - 105px);
    align-items: center;
    overflow: hidden;
    background-color: #13294B;
  }
  .recruiterSpinner{
    height: 100px !important;
    width: 100px !important;
    font-size: 50px;
  }