.SignupComponent {
  color: #ffffff;
  padding: 15px;
  background-color: #13294b;
  position: relative;
  display: block;
  text-align: center;
  width: 50vw;
}

.form-control {
  padding: 10px;
  margin: auto;
  margin-top: 15px;
  width: 25vw;
}

.SignupBtn {
  background-color: #4b9cd3;
  font-size: 20px;
  padding: 10px;
  margin-top: 15px;
  color: white;
}
